.redesign-components__btns {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 32px;
}

.redesign-components .cheked-items {
    display: flex;
    justify-content: center;
    margin-bottom: 32px;
}

.redesign-components__switches {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
}

.redesign-components__radio-group {
    display: flex;
    align-items: center;
    gap: 16px;
}

.redesign-components__cartes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 32px;
}

.redesign-components__forms {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 32px;
}

.redesign-components__forms .row-igroup-w-btn,
.redesign-components__forms .form-in-group {
    max-width: 600px;
    width: 100%;
}

.redesign-components__forms .form {
    width: 100%;
}

.redesign-components__filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-bottom: 32px;
}

.redesign-components__form.form {
    background: rgba(41, 95, 175, 0.8);
}

.redesign-components__documents {
    width: 100%;
    margin-bottom: 32px;
}

